<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>choisir une reponse</h1>

<form action="submit" method="post" th:object=${quizz}>

    <div th:each="question, i: ${quizz.questions}">
        <p  th:text="${question.title}"></p>

        <div >
            <input type="radio" th:name="|questions[${i.index}].chose|" th:value="1" />
            <p th:text="${question.optionA}"></p>
        </div>

        <div >
            <input type="radio" th:name="|questions[${i.index}].chose|" th:value="2" />
            <p th:text="${question.optionB}"></p>
        </div>


        <input type="hidden" th:name="|questions[${i.index}].id|" th:value="${question.id}" />
        <input type="hidden" th:name="|questions[${i.index}].title|" th:value="${question.title}" />
        <input type="hidden" th:name="|questions[${i.index}].ans|" th:value="${question.ans}" />
    </div>

    <button type="submit"> envoyer</button>
</form>
</body>
</html>